.App {
  text-align: center;
}

.tmdbLogo {
  height: 10vmin;
  pointer-events: none;
}

.search {
  padding: 10px;
}

.search-button {
  background-color: lightgreen;
}

.rows:nth-child(odd) {
  background-color: lightblue;
  padding: 10px;
  border: solid;
}

.rows:nth-child(even) {
  background-color: white;
  padding: 10px;
  border: solid;
}
